footer {
    padding-top: 5em;
    padding-bottom: 2em;
}

footer li {
    margin-right: 2em;
    clear: right;
}

footer p {
    clear: both;
}

footer > .container > p > a{
    margin-right: 1em;
    margin-left: 1em;
}

.navbar {
    letter-spacing: 2px;
    opacity: 0.98;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    border: 0;
}

.navbar-toggle {
    border: 0;
}

#mynavbar p {
    padding-right: 2em;
}
.carousel-inner img {
    width: 100%;
    margin: auto;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

a {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.featureditems {
    padding-top: 5em;
    padding-bottom: 5em;
}

.featureditems > p {
    padding-bottom: 5em;
}

.thumbnail {
    border: none;
}

.container_bgc {
    background-color: #f6f7f2;
}

.mycontainer,
.physicaladdress,
.container_product,
.myaboutcontainer {
    padding-top: 5em;
    padding-bottom: 5em;
}

.container_product > p,
.product_cat {
    padding-bottom: 4em;
}

.container_product > p,
.container_product > h1 {
    text-align: center;
}

.mycontainer > p {
    padding-bottom: 2em;
}

.membersignup {
    text-align: center;
    margin: auto;
    float: none;
}

.myaboutcontainer img {
    width: 100%;
}

.myaboutcontainer > .row > .col-sm-6 > p {
    line-height: 1.6;
}

.myaboutcontainer > h1 {
    padding-bottom: 1em;
    text-align: center;
}

.physicaladdress > h1 {
    padding-bottom: 1em;
}

#map {
    height: 500px;
    width: 100%;
}

@media (max-width: 600px) {
    #map {
        height: 380px;
    }
}

#featureditemslist > .col-sm-2 > .thumbnail > a > p,
#dealofthedaylist > .col-sm-2 > .thumbnail > a > p {
    padding-top: 1em;
}
